@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: #252525;
}

::-webkit-scrollbar-thumb {
    background-color: #f3f3f3;
}

.header_navbar {
    width: 100%;
    position: sticky;
    background-color: #ffffff;
    top: 0;
    z-index: 999;
}

.hn_wrap {
    width: 100%;
    height: 80px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    transition: 0.3s ease-in-out;
}

.hn_wrap.navbarActive {
    top: 10px;
    border: 2px solid #252525;
    box-shadow: 4px 4px #252525;
    padding: 0 15px;
    background-color: #f3f3f3;
}

.hn_logo {
    height: 100%;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 6px;
    color: #252525;
}

.hn_logo>h1 {
    font-weight: 700;
}

.hn_logo>img {
    width: 40px;
}

.nav_menu {
    grid-column: 2/4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #ffffff;
    padding-top: 5px;
    gap: 20px;
}

.nav_menu>ul {
    display: flex;
    gap: 5px;
}

.nav_menu>ul>li {
    list-style: none;
    border-left: 1px solid #7f8084;
    border-right: 1px solid #7f8084;
    padding: 0 8px;
}

.nav_menu>ul>li>a {
    font-size: 17px;
    color: #252525;
    transition: 0.3s linear;
    position: relative;
}

.nav_menu>ul>li>a.activeNH {
    background-color: #252525;
    color: #f3f3f3;
    padding: 3px 10px;
    font-weight: 600;
}

.nav_menu>ul>li>a:hover {
    background-color: #4d4d4d;
    color: #f3f3f3;
    border-bottom: 1px solid #7f8084;
    padding: 3px 10px;
}

.firstSection {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-top: 1px;
    gap: 100px;
}

#particles-js>canvas {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.fsTextWrap {
    z-index: 10;
    color: #252525;
    text-align: center;
    padding: 20px;
    /* Add padding to avoid text getting cut off */
}

.fsTextWrap>h1,
.fsTextWrap>h3 {
    margin-bottom: 20px;
}

.fsTextWrap>p {
    width: 100%;
    /* Ensure full width */
    font-size: clamp(0.75rem, 0.6464rem + 0.5525vw, 1rem);
    letter-spacing: 0.05em;
}

.fswrap {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.fstyping {
    width: 100%;
    /* Ensure it uses full width on smaller screens */
    display: flex;
    gap: 5px;
    justify-content: center;
    /* Center the typing text */
}

.fsTextType {
    position: relative;
    color: #252525;
    font-size: 2rem;
    /* Adjusted size for smaller screens */
}

.fsTextType.sec-text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    ;
    border-left: 10px solid #252525;
    animation: animate 4s steps(12) infinite;
}

@keyframes animate {

    40%,
    60% {
        left: calc(100% + 4px);
    }

    100% {
        left: 0%;
    }
}

.fsIMGCon {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Center the image */
    position: relative;
    z-index: 20;
}

.fsimgWrap img {
    max-width: 100%;
    height: auto;
    max-width: 350px;
    /* Adjusted size for better fit */
    object-fit: contain;
    z-index: 20;
    position: relative;
}

.fsimwrap {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 11;
}

.fsimwrap>img {
    position: absolute;
    top: -40px;
    width: 100%;
}

.fsSMCon {
    display: flex;
    gap: 45px;
    margin-top: 20px;
    justify-content: center;
    z-index: 20;
    padding-top: 40px;
}

.fsSMCon>a {
    width: 60px;
    height: 60px;
    font-size: 45px;
    color: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
    z-index: 20;
}

.fsSMCon>a:hover {
    border: 2px solid #252525;
    box-shadow: 4px 4px #252525;
    background-color: #f3f3f3;
}

.project-button {
    padding: 0 16px;
    height: 40px;
    width: 80px;
    outline: none;
    border: 2px solid #252525;
    color: #252525;
    background-color: #e6e6e6;
    font-weight: 600;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s ease-in-out;
    position: relative;
    z-index: 20;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.project-button:hover {
    box-shadow: 4px 4px #252525;
}

.about_main {
    position: relative;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    z-index: 0;    
}

.about_photo {
    float:right;
    margin-left: 20px;
    margin-bottom: 20px;
    max-width: 150px;
    /* Adjust as needed */
}

.about_photo img {
    padding-top: 10px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.about_text {
    text-align: justify;
}

.contact_main{
    padding: 5px;
    padding-top: 50px;
}

.contact_text{
    padding-top: 40px;
}

.contact_photo img {
    width: 100%;
    /* Make the image take the full width of its container */
    height: auto;
    /* Maintain the aspect ratio */
    max-height: 250px;
    /* Adjust the maximum height to reduce the image height */
    display: block;
    /* Ensure there's no inline spacing below the image */
    margin-bottom: 20px;
    /* Add some space between the image and the text */
    object-fit: cover;
    /* Ensures the image covers the area, cropping if necessary */
    border-radius: 10px;
    /* Optional: add rounded corners if desired */
    z-index: 40;
}

.audio-player {
    z-index: 50;
}

.scrollable-playlist {
    max-height: 200px;
    /* Define a altura máxima do contêiner */
    overflow-y: auto;
    /* Permite o scroll vertical se o conteúdo exceder a altura */
    padding-right: 10px;
    /* Adiciona um pequeno espaço à direita para o scrollbar */
}

.scrollable-playlist ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.scrollable-playlist ul li {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.scrollable-playlist ul li:hover {
    background-color: #f0f0f0;
}

footer {
    text-align: center;
    padding-top: 185px;
    background-color: #ffffff;
    color: #474646;
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 40;
}

footer hr {
    border: 1px solid #636262;
    width: 80%;
    margin: 10px auto;
}

footer p {
    margin: 0;
    font-size: 8px;
}

footer a {
    color: #303030;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

#dcvbtn {
    padding: 0 16px;
    height: 40px;
    outline: none;
    border: 2px solid #252525;
    color: #252525;
    background-color: #f3f3f3;
    font-weight: 600;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s ease-in-out;
    position: relative;
    z-index: 20;
}

#dcvbtn:hover {
    box-shadow: 4px 4px #252525;
}

/* Responsive Design */

@media only screen and (min-width: 1040px) {
    .first {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
    }

    .first_contact {
        display: flex;
        justify-content: center;
        height: 70vh;
    }

    .firstSection {
        padding-left: 30px;
    }

    .hnLink {
        width: 130px;
        height: 30px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .hn_logo {
        padding-left: 30px;
        gap: 30px;
    }

    .hn_wrap {
        padding-right: 20px;
    }

    .nav_menu>ul>li>a {
        padding: 10px 20px;
        color: #252525;
        transition: 0.3s linear;
        position: relative;
        font-size: 16px;
    }

    .nav_menu>ul>li>a.activeNH {
        background-color: #252525;
        color: #f3f3f3;
        padding: 10px 20px;
        font-weight: 600;
    }

    .nav_menu>ul>li>a:hover {
        background-color: #4d4d4d;
        color: #f3f3f3;
        border-bottom: 1px solid #7f8084;
        padding: 10px 20px;
    }

    .project-item {
        display: flex;
        gap: 60px;
        padding: 60px;
        justify-content: space-between;
        align-items: flex-start;
    }

    .project-content {
        width: 60%;
    }

    .audio-player {
        width: 40%;
    }

    .contact_photo img {
        width: 100%;
        /* Make the image take the full width of its container */
        height: auto;
        /* Maintain the aspect ratio */
        max-height: 200px;
        /* Adjust the maximum height to reduce the image height */
        display: block;
        /* Ensure there's no inline spacing below the image */
        margin-bottom: 20px;
        /* Add some space between the image and the text */
        object-fit: cover;
        /* Ensures the image covers the area, cropping if necessary */
        border-radius: 10px;
        /* Optional: add rounded corners if desired */
        z-index: 50;
    }

    .about_photo {
        float:right;
        margin-left: 20px;
        margin-bottom: 20px;
        padding-left: 100px;
        max-width: 400px;
        z-index: 0;
    }

    .about_photo img {
        padding-top: 10px;
        width: 100%;
        height: auto;
        object-fit: cover;
        z-index: 0;
    }

    .spotify {
        padding-top: 40px;
    }

    .audio-player{
        padding-top: 40px;
    }

    .project-text{
        padding-top: 300px;
        font-size: larger;
    }

    footer {
        text-align: center;
        background-color: #ffffff;
        color: #474646;
        position: static;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 40;
    }
}

@media only screen and (max-width: 1039px) {
    .header_navbar {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hn_wrap {
        display: flex;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        font-size: 6px;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .nav_menu {
        justify-content: center;
        align-items: center;
    }

    .nav_menu ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }

    .nav_menu>ul>li>a {
        padding: 10px ;
        color: #252525;
        transition: 0.3s linear;
        position: relative;
        font-size: 12px;
    }

    .hnLink {
        width: 90px;
        height: 25px;
        display: inline-block;
    }

    .firstSection {
        flex-direction: column;
        height: auto;
        padding: 20px;
        gap: 15px;
    }

    .fsTextWrap {
        padding: 20px;
        width: 100%;
    }

    .fsimgWrap img {
        padding-left: 0;
        width: 80%;
        align-items: center;
        justify-content: center;
    }

    .fsIMGCon {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .fsTextType {
        font-size: 1.5rem;
    }

    .fsTextWrap>p {
        width: 100%;
    }

    .buttonCV {
        text-align: center;
    }

    footer {
        text-align: center;
        padding-top: 140px;
        background-color: #ffffff;
        color: #474646;
        position: static;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 20;
    }

    .project-item {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 40px;
        padding: 20px;
        justify-content: center;
    }

    .gap {
    padding: 90px;
    }

    .contact_main{
        padding: 5px;
    }

    .contact_text{
        padding: 20px;
        padding-top: 1px;
        font-size: 14px;
    }

    .contact_photo img {
        width: 100%;
        /* Make the image take the full width of its container */
        height: auto;
        /* Maintain the aspect ratio */
        max-height: 120px;
        /* Adjust the maximum height to reduce the image height */
        display: block;
        /* Ensure there's no inline spacing below the image */
        margin-bottom: 20px;
        /* Add some space between the image and the text */
        object-fit: cover;
        /* Ensures the image covers the area, cropping if necessary */
        border-radius: 10px;
        /* Optional: add rounded corners if desired */
        z-index: 40;
    }

    .fsSMCon {
        display: flex;
        gap: 45px;
        padding-top: 20px;
        margin-top: 20px;
        justify-content: center;
        z-index: 20;
    }

    .about_main {
        position: relative;
        padding: 30px;
        z-index: 0;
    }
}